<!DOCTYPE html>
<html lang='en'>
  <head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Calendar</title>
    <style>
        h1 {text-align: center}
    </style>
    <meta charset='utf-8' />
<!--    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>-->
    <link href='https://cdn.jsdelivr.net/npm/fullcalendar@5.8.0/main.min.css' rel='stylesheet' />
    <script src='/static/jquery.min.js'></script>
<!--    <script src='https://cdn.jsdelivr.net/npm/fullcalendar@5.8.0/main.min.js'></script>-->
    <script src='/static/main.min.js'></script>
    <script>

      document.addEventListener('DOMContentLoaded', function() {
        var calendarEl = document.getElementById('calendar');
        var calendar = new FullCalendar.Calendar(calendarEl, {
          editable: true,
          initialView: 'dayGridMonth',
          initialDate: '{{date_today}}',
          events: [
              {
                  start: '{{date_today}}',
                  end: '{{date_today}}',
                  overlap: false,
                  display: 'background'
              },
              {% for event in events %}
              {
                id: '{{event.id}}',
                title: '{{event.title}} {{event.cost}}',
                start: '{{event.start_event}}',
                end: '{{event.end_event}}'
              },
              {% endfor %}
          ],
          selectable: true,
          selectHelper: true,
          select: function(event) 
          {
            var title = prompt("Enter Event Title");
            var cost = prompt("Enter Cost");
            if(title)
            {
            //var start = $.fullCalendar.formatDate(start, "Y-MM-DD HH:mm:ss");
            //var end = $.fullCalendar.formatDate(end, "Y-MM-DD HH:mm:ss");

            var start="2021-07-28";
            var end="2021-07-28";
            alert(start);
            
            $.ajax({
              url:"calendar/insert",
              type:"POST",
              data:{title:title, start:start, end:end, cost:cost},
              success:function(data)
              {
                //alert(data)
              alert("Added Successfully");
              window.location.replace("/");
              }
            })
            } 
          },
          editable:true,
          eventResize:function(event)
          {
            var start = $.fullCalendar.formatDate(event.start, "Y-MM-DD HH:mm:ss");
            var end = $.fullCalendar.formatDate(event.end, "Y-MM-DD HH:mm:ss");
            var title = event.title;
            var cost = event.cost;
            var id = event.id;
            $.ajax({
            url:"/update",
            type:"POST",
            data:{title:title, start:start, end:end, cost:cost, id:id},
            success:function(){
              calendar.fullCalendar('refetchEvents');
              alert('Event Update');
            }
            })
          },
          eventDrop:function(event)
          {
            var start = $.fullCalendar.formatDate(event.start, "Y-MM-DD HH:mm:ss");
            var end = $.fullCalendar.formatDate(event.end, "Y-MM-DD HH:mm:ss");
            var title = event.title;
            var cost = event.cost;
            var id = event.id;
            $.ajax({
            url:"/update",
            type:"POST",
            data:{title:title, start:start, end:end, cost:cost, id:id},
            success:function()
            {
              calendar.fullCalendar('refetchEvents');
              alert("Event Updated");
            }
            });
          },
          eventClick:function(event)
          {
            if(confirm("Are you sure you want to remove it?"))
            {
            var id = event.id;
            $.ajax({
              url:"/ajax_delete",
              type:"POST",
              data:{id:id},
              success:function()
              {
                calendar.fullCalendar('refetchEvents');
                alert("Event Removed");
              }
            })
            }
          },
        });
        calendar.render();
      });
    </script>
  </head>
  <body>
    <ul class="nav nav-pills">
      <li class="nav-item">
        <a class="nav-link" href="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" href="/calendar">Calendar</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/flight">Flight Info</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/baggage">Baggage Preparation</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/cost_estimation">Cost Estimation</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/others">Others</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">{{ time_message }}</a>
      </li>

    </ul>
    <h1>Calendar</h1>

<!--    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    
    <div id='calendar'></div>
  </body>
</html>